.ui-overlay-b, .ui-page-theme-b, .ui-page-theme-b .ui-panel-wrapper {
	background-color: 			#000000 /*{b-page-background-color}*/;
	border-color:	 		#ffffff /*{b-page-border}*/;
	color: 					#ffffff /*{b-page-color}*/;
	text-shadow: 0 /*{b-page-shadow-x}*/ 1px /*{b-page-shadow-y}*/ 0 /*{b-page-shadow-radius}*/ 	#111 /*{b-page-shadow-color}*/;
}

.ui-dialog.ui-page-theme-b {
  background-color: #000000 !important;
}

.ui-page-theme-b .ui-checkbox > label.ui-btn, .ui-page-theme-b .ui-popup-container .ui-checkbox > label.ui-btn {
  background-color: #000000 !important;
}

.sidebarTiles.axios-theme-dipendent-b > .sidebarTile {
  background-color: #000000 !important;
  border: 1px solid #ffffff !important;
}

*.green {
    color: #00ff00 !important;
}

*.green-bg {
    background-color: #00ff00 !important;
}

#popupDashboardCalendarForm div#dashboardCalendarEventsContainer ul#dashboardEventsUl > li.comunicazioneEvent::marker{
  color: #000000;
}

#popupDashboardCalendarForm div#dashboardCalendarEventsContainer ul#dashboardEventsUl > li.assenzaEvent::marker{
  color: #000000;
}

#popupDashboardCalendarForm div#dashboardCalendarEventsContainer ul#dashboardEventsUl > li.votoEvent::marker{
  color: #000000;
}

#popupDashboardCalendarForm div#dashboardCalendarEventsContainer ul#dashboardEventsUl > li.argomentoEvent::marker{
  color: #000000;
}

#popupDashboardCalendarForm div#dashboardCalendarEventsContainer ul#dashboardEventsUl > li.compitoEvent::marker{
  color: #000000;
}

#popupDashboardCalendarForm div#dashboardCalendarEventsContainer ul#dashboardEventsUl > li.notaEvent::marker{
  color: #000000;
}